<div class="row">
    <div class="col-xs-12">
        <div class="list-group-item clearfix">
            <h2>{{contact.name}}</h2>
            <img 
            [src]="contact.imageUrl" 
            alt="{{ contact.name }}" 
            class="img-responsive"
            style="max-height: 300px">
            <span class="pull-right">
            <a routerLink="edit" class="btn btn-primary">Edit</a> 
            <button (click)="onDelete()" class="btn btn-danger">Delete</button> 
        </span> 
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="list-group-item">
            <p>Email: {{ contact.email }}</p>
            <p>Phone: {{ contact.phone }}</p>
        </div>
    </div>
</div>