<div class="row">
    <div class="col-xs-12">
        <div class="list-group-item clearfix">
            <div class="pull-left">
            <h2>Contacts</h2>
            </div>
            <span class="pull-right">
            <button class="btn btn-success">New Contact</button> 
        </span> 
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <app-contact-item
        *ngFor="let contactEl of contacts"
        [contact]="contactEl"
        (contactSelected)="onContactSelected(contactEl)"></app-contact-item>
    </div>
</div>